{% extends 'base.html' %}
{% block title %}Cesar{% endblock %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="col-8 mx-auto">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create your Account!</h1>
                    </div>
                    <form method="post" class="user">   
                        {% csrf_token %}                         
                        {% for field in form %}
                            <div class="form-group">
                                <!-- Field Label -->
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                                <!-- Field Input -->
                                {{ field|add_class:"form-control" }}

                                <!-- Error Messages -->
                                {% for error in field.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <hr>
                        <button type="submit" class="btn btn-primary btn-user btn-block w-100">
                            Register Account
                        </button>        
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="{% url 'home' %}">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}